<!--<button mat-icon-button color="accent" (click)="refresh()">
  <mat-icon>refresh</mat-icon>
</button>-->

<table mat-table #table [dataSource]="tableSource" matSort
       matSortActive="date" matSortDirection="asc" matSortDisableClear>
  <ng-container matColumnDef="commits_revision">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>COMMITS_REVISION</th>
    <td mat-cell *matCellDef="let row">{{row.commits_revision}}</td>
  </ng-container>
  <ng-container matColumnDef="repository_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>REPOSITORY_NAME</th>
    <td mat-cell *matCellDef="let row">{{row.repository_name}}</td>
  </ng-container>
  <ng-container matColumnDef="jira_artifact">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_ARTIFACT</th>
    <td mat-cell *matCellDef="let row">{{row.jira_artifact}}</td>
  </ng-container>
  <ng-container matColumnDef="jira_title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_TITLE</th>
    <td mat-cell *matCellDef="let row">{{row.jira_title}}</td>
  </ng-container>
  <ng-container matColumnDef="justification">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>JUSTIFICATION</th>
    <td mat-cell *matCellDef="let row">{{row.justification}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
    <td mat-cell *matCellDef="let row">{{row.status}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
    <td mat-cell *matCellDef="let row">{{row.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>AUTHOR</th>
    <td mat-cell *matCellDef="let row">{{row.author}}</td>
  </ng-container>
  <ng-container matColumnDef="jira_version">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_VERSION</th>
    <td mat-cell *matCellDef="let row">{{row.jira_version}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;">
  </tr>
</table>

<mat-paginator #paginator
               [length]="0"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
