table {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

.floatleft {
  float: left;
  width: 50%;
  /*height: 400px;*/
}

.floatright {
  vertical-align: auto;
  float: right;
  /*height: 400px;*/
  width: 50%;
}
