<div>
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="generateReport()">
        <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!isGenerated" (click)="createAndDownloadBlobFile()">
        <mat-icon>get_app</mat-icon>
    </button>
    <span>{{jira_version}}</span>
</div>

<mat-tab-group> <!--(selectedTabChange)="onTabChanged($event)"-->
    <mat-tab label="Dashboard" *ngIf="isGenerated">
        <div class="floatleft">
            <google-chart #chart [data]="dashboardChart">
            </google-chart>
        </div>
        <div class="floatright">
            <table title="Artifacts status" class="table-of-contents">
                <tr>
                    <td>In scope</td>
                    <td>{{dashboardSummary.in_scope}}</td>
                </tr>
                <tr>
                    <td>Not in scope</td>
                    <td>{{dashboardSummary.not_in_scope}}</td>
                </tr>
                <tr>
                    <td>Justified</td>
                    <td>{{dashboardSummary.justified}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{dashboardSummary.in_scope + dashboardSummary.not_in_scope + dashboardSummary.justified}}
                    </td>
                </tr>
            </table>
        </div>

        <table mat-table #table [dataSource]="dashboardTableContent" matSort
               matSortActive="jira_version" matSortDirection="asc" matSortDisableClear>
            <!-- actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
                <td mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="accent"
                            (click)="justify(i, row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="commits_revision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>COMMITS_REVISION</th>
                <td mat-cell *matCellDef="let row">{{row.commits_revision}}</td>
            </ng-container>
            <ng-container matColumnDef="repository_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>REPOSITORY_NAME</th>
                <td mat-cell *matCellDef="let row">{{row.repository_name}}</td>
            </ng-container>
            <ng-container matColumnDef="commits_message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>COMMITS_MESSAGE</th>
                <td mat-cell *matCellDef="let row">{{row.commits_message}}</td>
            </ng-container>
            <ng-container matColumnDef="commits_authors">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>COMMITS_AUTHORS</th>
                <td mat-cell *matCellDef="let row">{{row.commits_authors}}</td>
            </ng-container>
            <ng-container matColumnDef="jira_artifact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_ARTIFACT</th>
                <td mat-cell *matCellDef="let row">{{row.jira_artifact}}</td>
            </ng-container>
            <ng-container matColumnDef="jira_title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_TITLE</th>
                <td mat-cell *matCellDef="let row">{{row.jira_title}}</td>
            </ng-container>
            <ng-container matColumnDef="jira_parent_artifact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_PARENT_ARTIFACT</th>
                <td mat-cell *matCellDef="let row">{{row.jira_parent_artifact}}</td>
            </ng-container>
            <ng-container matColumnDef="jira_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_TYPE</th>
                <td mat-cell *matCellDef="let row">{{row.jira_type}}</td>
            </ng-container>
            <ng-container matColumnDef="scope">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SCOPE</th>
                <td mat-cell *matCellDef="let row">{{row.scope}}</td>
            </ng-container>
            <ng-container matColumnDef="jira_version">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>JIRA_VERSION</th>
                <td mat-cell *matCellDef="let row">{{row.jira_version}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="dashboardTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dashboardTableColumns;">
            </tr>
        </table>

        <mat-paginator #paginator
                       [length]="0"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-tab>
    <mat-tab label="Branches">
        <mat-radio-group [(ngModel)]="branchesReposAutoFinding">
            <mat-radio-button value="true" [checked]="branchesReposAutoFinding">aromatically matching
            </mat-radio-button>
            <mat-radio-button value="false" disabled="true">manually matching</mat-radio-button>
        </mat-radio-group>
        <p>Your select: {{branchesReposAutoFinding}}</p>

        <table mat-table #table [dataSource]="branchesTableContent" matSort
               matSortActive="key" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="repository_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>REPOSITORY_NAME</th>
                <td mat-cell *matCellDef="let row">{{row.repository_name}}</td>
            </ng-container>
            <ng-container matColumnDef="path">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PATH</th>
                <td mat-cell *matCellDef="let row">{{row.path}}</td>
            </ng-container>
            <ng-container matColumnDef="trusted_base_line">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TRUSTED_BASE_LINE</th>
                <td mat-cell *matCellDef="let row">{{row.trusted_base_line}}</td>
            </ng-container>
            <ng-container matColumnDef="current_base_line">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CURRENT_BASE_LINE</th>
                <td mat-cell *matCellDef="let row">{{row.current_base_line}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="branchesTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: branchesTableColumns;">
            </tr>
        </table>

        <mat-paginator #paginator
                       [length]="0"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

    </mat-tab>
    <mat-tab label="Correction" *ngIf="isGenerated">
        <table mat-table #table [dataSource]="correctionsTableContent" matSort
               matSortActive="date" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="commits_revision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>COMMITS_REVISION</th>
                <td mat-cell *matCellDef="let row">{{row.commitsRevision}}</td>
            </ng-container>
            <ng-container matColumnDef="repository_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>REPOSITORY_NAME</th>
                <td mat-cell *matCellDef="let row">{{row.repositoryName}}</td>
            </ng-container>
            <ng-container matColumnDef="justification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>JUSTIFICATION</th>
                <td mat-cell *matCellDef="let row">{{row.justification}}</td>
            </ng-container>
            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>AUTHOR</th>
                <td mat-cell *matCellDef="let row">{{row.justificationAuthor}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
                <td mat-cell *matCellDef="let row">{{row.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="correctionsTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: correctionsTableColumns;">
            </tr>
        </table>

        <mat-paginator #paginator
                       [length]="0"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-tab>
    <mat-tab label="Commit" *ngIf="isGenerated">
        <table mat-table #table [dataSource]="commitsTableContent" matSort
               matSortActive="key" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="revision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>REVISION</th>
                <td mat-cell *matCellDef="let row">{{row.revision}}</td>
            </ng-container>
            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>AUTHOR</th>
                <td mat-cell *matCellDef="let row">{{row.author}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
                <td mat-cell *matCellDef="let row">{{row.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            </ng-container>
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MESSAGE</th>
                <td mat-cell *matCellDef="let row">{{row.message}}</td>
            </ng-container>
            <ng-container matColumnDef="artifact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ARTIFACT</th>
                <td mat-cell *matCellDef="let row">{{row.artifact}}</td>
            </ng-container>
            <ng-container matColumnDef="svn_path">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SVN_PATH</th>
                <td mat-cell *matCellDef="let row">{{row.svn_path}}</td>
            </ng-container>
            <ng-container matColumnDef="artf_calc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ARTF_CALC</th>
                <td mat-cell *matCellDef="let row">{{row.artf_calc}}</td>
            </ng-container>
            <ng-container matColumnDef="release">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>RELEASE</th>
                <td mat-cell *matCellDef="let row">{{row.release}}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
                <td mat-cell *matCellDef="let row">{{row.type}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="commitsTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: commitsTableColumns;">
            </tr>
        </table>

        <mat-paginator #paginator
                       [length]="0"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-tab>
    <mat-tab label="JIRA" *ngIf="isGenerated">
        <table mat-table #table [dataSource]="jirasTableContent" matSort
               matSortActive="key" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>KEY</th>
                <td mat-cell *matCellDef="let row">{{row.key}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
                <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
                <td mat-cell *matCellDef="let row">{{row.type}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
                <td mat-cell *matCellDef="let row">{{row.status}}</td>
            </ng-container>
            <ng-container matColumnDef="assignee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ASSIGNEE</th>
                <td mat-cell *matCellDef="let row">{{row.assignee}}</td>
            </ng-container>
            <ng-container matColumnDef="reporter">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>REPORTER</th>
                <td mat-cell *matCellDef="let row">{{row.reporter}}</td>
            </ng-container>
            <ng-container matColumnDef="parent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PARENT</th>
                <td mat-cell *matCellDef="let row">{{row.parent}}</td>
            </ng-container>
            <ng-container matColumnDef="sub_task">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SUB_TASK</th>
                <td mat-cell *matCellDef="let row">{{row.sub_task}}</td>
            </ng-container>
            <ng-container matColumnDef="affects_versions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>AFFECTS_VERSIONS</th>
                <td mat-cell *matCellDef="let row">{{row.affects_versions}}</td>
            </ng-container>
            <ng-container matColumnDef="fix_versions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>FIX_VERSIONS</th>
                <td mat-cell *matCellDef="let row">{{row.fix_versions}}</td>
            </ng-container>
            <ng-container matColumnDef="sprint">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SPRINT</th>
                <td mat-cell *matCellDef="let row">{{row.sprint}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="jirasTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: jirasTableColumns;">
            </tr>
        </table>

        <mat-paginator #paginator
                       [length]="0"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-tab>
</mat-tab-group>




