<mat-radio-group [(ngModel)]="currentAction">
  <mat-radio-button value="true" [checked]="currentAction" [(ngModel)]="currentAction">aromatically matching</mat-radio-button>
  <mat-radio-button value="false" disabled="true">manually matching</mat-radio-button>
</mat-radio-group>
<!--<p>Your select: {{currentAction}}</p>-->

<table mat-table #table [dataSource]="tableSource" matSort
       matSortActive="key" matSortDirection="asc" matSortDisableClear>
  <ng-container matColumnDef="repository_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>REPOSITORY_NAME</th>
    <td mat-cell *matCellDef="let row">{{row.repository_name}}</td>
  </ng-container>
  <ng-container matColumnDef="path">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PATH</th>
    <td mat-cell *matCellDef="let row">{{row.path}}</td>
  </ng-container>
  <ng-container matColumnDef="trusted_base_line">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TRUSTED_BASE_LINE</th>
    <td mat-cell *matCellDef="let row">{{row.trusted_base_line}}</td>
  </ng-container>
  <ng-container matColumnDef="current_base_line">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CURRENT_BASE_LINE</th>
    <td mat-cell *matCellDef="let row">{{row.current_base_line}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;">
  </tr>
</table>

<mat-paginator #paginator
               [length]="0"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
